@import '../../../../styles/variables.scss','../../../../styles/layout.scss';

.form_footer{
  width:100%;
  display:flex;
  gap:16px;
  align-items: center;
  justify-content: flex-end;


  input {
    height:50px;
    max-width:391px;
    width:100%;
    padding:16px;
    color:white;
    background-color:transparent;
  }

  button{
    max-width:151px;
    width:100%;
    border:0px;
    border-radius:50px;
    color:white;
    height:50px;
    background-color:var(--primary-color);
    font-size:16px;

    @include hover;
    
  }

  @include mobile(){
    flex:1.5;
    justify-content: center;
    input{
      max-width:100%;
    }
  }


}