@import '../../../styles/variables.scss','../../../styles/layout.scss';

.card{
  max-width:241px;
  width:100%;
  border-radius:4px;
  padding:36px 26px;
  display:flex;
  flex-direction: column;
  gap:6px;


  p:last-child{
    font-size:10px;
    color:var(--primary-silver-05);
  }

}

.title{
  font-size:12px;
  line-height:150%;
}

.price{
  font-size:18px;
  color:var(--primary-orange)
}


.image{

    width:100%;
    max-width:156px;
    height:150px;
    height:auto;
    margin:0 auto;
    img{
      object-fit: cover;
      width:100%;
    }
  }

  .button{
    width:100%;
    border-radius:4px;
    background-color:var(--primary-color);
    color:white;
  }