.input_box{

  margin-top:16px ;
  label{
    font-weight: 500;
  }
  input{
    margin:16px 0px;
    height:47px;
    width:100%; 
    font-size:18px;
    letter-spacing: 1.8px;
    padding:16px;
    border-radius:4px;
  }
  
}