@import '../../../styles/variables.scss','../../../styles/layout.scss';

.footer{
  width:100%;
  padding:26px 24px;
  background:var(--dark-color);
}

.footer_container{
  max-width:1440px;
  margin:0 auto;
  display:flex;
  flex-direction: column;
  color:white;
  >div{
    padding:26px 24px;
  }
}
.footer_header{
  display:flex;
  div{
    flex:1;
  }
  @include mobile(){
    flex-direction: column;
  }
}

.footer_center{
  display:flex;
  gap:16px;
  justify-content: space-between;

  @include mobile(){
    flex-direction: column;
  }
}

.footer_bottom{
  display:flex;
  gap:16px;
  justify-content:space-between;

  
}

.box_left{
  flex:1;
  color:white;

  h2{
    font-size:38px;
    margin-bottom:8px;
    @include mobile(){
      font-size:26px;
    }
  }
  p{
    font-size:16px;
        @include mobile(){
          font-size:16px;
        }
        
  }

  @include mobile(){
    margin-bottom:26px;
  }

}


.box_right{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  width:100%;
}

