@import '../../../styles/layout.scss';

.row{
  display:flex;
  align-items: center;
  gap:26px;
  >div:first-child{
    width:280px;
   
  }
  >div:last-child{
    width:100%;
  }

  @include mobile(){
    flex-direction: column;

  >div:first-child{
    width:100%;
   
  }
  }

}



.swiper_wrapper{
  
  position: relative;
  
     > div:last-child{

 
    width:max-content;
   
    position:absolute;
    right:0px;
    height:100%;
    display:Flex;
    align-items: center;
    top:0px;
    z-index: 1000;
    &:hover{
      opacity:0.7;
    }
    cursor:pointer;
     &:hover{
      opacity:0.7;
    }
  }  
   > div:nth-child(2){
    transform: rotate(180deg);
    width:max-content;
  
    position:absolute;
    left:0px;
    height:100%;
    display:Flex;
    align-items: center;
    top:0px;
    z-index: 1000;
    &:hover{
      opacity:0.7;
    }
    cursor:pointer;
  }  

}